*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #13131e;
  padding-inline: 20px;
  padding-block: clamp(20px, 5vw, 50px) 20px;
  color: #e0dffe;
}

.wiki-logo {
  inline-size: clamp(100px, 25vw, 250px);
  display: block;
  margin-inline: auto;
}
.wiki-logo img {
  inline-size: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.wiki-title {
  font-size: clamp(20px, 5vw, 50px);
  font-weight: 300;
  text-align: center;
  margin-block-start: 20px;
  margin-block-end: 10px;
}
.wiki-title span {
  background-image: linear-gradient(to top, #f76b15, 50%, #ffc53d);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: 900;
  text-transform: uppercase;
}

form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  max-inline-size: 800px;
  margin-inline: auto;
  margin-block-end: 30px;
}
form input {
  display: block;
  inline-size: 100%;
  margin-inline: auto;
  padding-inline: 15px;
  padding-block: 15px;
  font-size: clamp(14px, 1.8vw, 18px);
  border: none;
  border-radius: 5px;
  background-color: #e0dffe;
}
form button {
  position: absolute;
  top: 5;
  right: 0;
  background-color: #e0dffe;
  border: none;
  cursor: pointer;
  margin-inline-end: 10px;
}
form button img {
  inline-size: 40px;
  block-size: 40px;
}

.wiki-error {
  text-align: center;
  color: #ff4d4d;
  font-size: clamp(14px, 1.8vw, 18px);
  font-weight: 400;
}

.wiki-results {
  max-inline-size: 600px;
  margin-block: 70px;
  margin-inline: auto;
}
.wiki-results__item {
  margin-block-end: 20px;
}
.wiki-results__title a {
  font-size: clamp(18px, 2.2vw, 22px);
  color: #ffc53d;
  font-weight: 600;
}
.wiki-results__link {
  color: #f76b15;
  text-decoration: none;
  display: block;
  overflow-wrap: break-word;
}
.wiki-results__snippet {
  font-size: clamp(13px, 1.5vw, 15px);
  margin-block-start: 10px;
}

/*** Loader ***/

.wiki-loader {
  display: none;
  justify-content: center;
}
.wiki-loader__dot {
  display: block;
  inline-size: 15px;
  block-size: 15px;
  border-radius: 50%;
  background-color: #ffc53d;
  margin-inline: 3px;
  animation: loading 0.5s infinite alternate;
}
.wiki-loader__dot:nth-child(2) {
  animation-delay: 0.1s;
}
.wiki-loader__dot:nth-child(3) {
  animation-delay: 0.2s;
}

@keyframes loading {
  to {
    transform: translateY(10px);
    background-color: #f76b15;
  }
}
